*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: solid 3px white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
h1{
    color: white;
    font-size: 5vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
   
     /* object-position: center;  */
     opacity: 0;
     transition: all linear 0.3s;
}