body{
    margin: 0;
    padding: 0;
    background:linear-gradient(to right , lightblue,lightpink) ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    width: 450px;
    margin: 5px;

}

.btn{
    padding: 10px 20px;
    margin-bottom: 20px ;
     cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(to right , lightblue, lightpink);
}

.btn:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.anime-img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.anime-name{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    background:linear-gradient(to right , lightblue, lightpink) ;
}

.anime-container{
    display: none;
}